@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Josefin+Sans&display=swap");
html, body {
  background-image: linear-gradient(#000015, #000040);
  height: 200vh;
}

.nav {
  padding: 50px 0;
  display: flex;
  font-family: 'Comfortaa', cursive;
}

@media (max-width: 900px) {
  .nav {
    display: none;
  }
}

.nav .space {
  width: 60%;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.nav .container .tab {
  padding: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.nav .container .tab a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.nav .container .tab:hover {
  background-color: #333;
}

.mobile-nav {
  background-color: #07074d;
  padding: 20px 0;
  width: 100%;
  display: none;
}

@media (max-width: 900px) {
  .mobile-nav {
    display: block;
  }
}

.mobile-nav .container {
  background-color: #07074d;
}

.mobile-nav .container p {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-family: 'Comfortaa', cursive;
  border-bottom: 1px solid #0d0d77;
  padding: 15px 0;
}

.header {
  font-size: 50px;
  color: #fff;
}

@media (max-width: 900px) {
  .header {
    font-size: 25px;
  }
}

.header p {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.subheader {
  font-size: 25px;
  color: #fff;
}

@media (max-width: 900px) {
  .subheader {
    font-size: 15px;
  }
}

.subheader p {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.lightbox .bg {
  position: fixed;
  width: 100%;
  height: 200vh;
  opacity: 0.8;
  background-color: #000;
}

.lightbox .palette {
  position: fixed;
  background-color: #000015;
  width: 80%;
  padding: 100px 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

.lightbox .palette .image {
  width: 35%;
}

@media (max-width: 900px) {
  .lightbox .palette .image {
    display: none;
  }
}

.lightbox .palette .image img {
  width: 100%;
  border-radius: 15px;
}

.lightbox .palette .texts {
  color: #fff;
  padding: 0 50px;
  width: 50%;
  font-family: 'Comfortaa', cursive;
}

@media (max-width: 900px) {
  .lightbox .palette .texts {
    width: 95%;
    margin: auto;
  }
}

.lightbox .palette .texts .title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  padding: 20px 0;
}

.lightbox .palette .texts .description {
  padding: 20px 0;
}

.lightbox .palette .texts .lower {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .lightbox .palette .texts .lower {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .lightbox .palette .texts .lower .right {
    margin-top: 20px;
    display: flex;
  }
}

.lightbox .palette .texts .lower #view-source {
  margin-left: 30px;
}

.blue-btn {
  background-color: #000072;
  background: linear-gradient(to right, red 50%, #000072 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: #fff;
  padding: 20px 30px;
  font-size: 20px;
  border: 1px solid #000072;
  cursor: pointer;
  transition: 2s ease;
}

.blue-btn:hover {
  background-position: left bottom;
  color: #fff;
}

.about .container {
  width: 75%;
  margin: auto;
  border-radius: 25px;
  transition: 1s;
}

@media (max-width: 900px) {
  .about .container {
    width: 85%;
  }
}

.about .about-header {
  color: #4f4fe4;
  font-size: 55px;
  width: 100%;
}

@media (max-width: 900px) {
  .about .about-header {
    margin-top: 50px;
    font-size: 25px;
  }
}

.about .about-header p {
  text-align: center;
}

.about .texts {
  color: #fff;
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  line-height: 1.5em;
}

@media (max-width: 900px) {
  .about .texts {
    font-size: 18px;
  }
}

.about .btn {
  padding: 50px;
  text-align: right;
}

@media (max-width: 900px) {
  .about .btn {
    text-align: center;
  }
}

.main-canvas {
  display: flex;
}

@media (max-width: 900px) {
  .main-canvas {
    flex-direction: column;
  }
}

.main-canvas .mobile-img {
  display: none;
  width: 30%;
  margin: auto;
  margin-top: 50px;
}

@media (max-width: 900px) {
  .main-canvas .mobile-img {
    display: block;
  }
}

.main-canvas .mobile-img img {
  width: 100%;
  border-radius: 50%;
}

.main-canvas .left {
  width: 60%;
}

@media (max-width: 900px) {
  .main-canvas .left {
    width: 90%;
    margin: auto;
  }
}

.main-canvas .left .texts {
  font-family: 'Comfortaa', cursive;
  width: 80%;
  color: #fff;
  margin: auto;
  margin-top: 150px;
}

@media (max-width: 900px) {
  .main-canvas .left .texts {
    margin-top: 75px;
  }
}

.main-canvas .left .texts .small-texts {
  font-size: 25px;
}

@media (max-width: 900px) {
  .main-canvas .left .texts .small-texts {
    font-size: 15px;
  }
}

.main-canvas .left .texts .big-texts {
  margin-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
}

@media (max-width: 900px) {
  .main-canvas .left .texts .big-texts {
    font-size: 30px;
  }
}

.main-canvas .left .texts .profession {
  margin-top: 20px;
  font-size: 20px;
}

@media (max-width: 900px) {
  .main-canvas .left .texts .profession {
    font-size: 17px;
  }
}

.main-canvas .left .buttons {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .main-canvas .left .buttons {
    flex-direction: column;
  }
  .main-canvas .left .buttons #know-more {
    margin-top: 20px;
  }
}

.main-canvas .left .buttons span {
  font-family: 'Comfortaa', cursive;
  color: #fff;
  padding: 20px;
  font-size: 18px;
}

@media (max-width: 900px) {
  .main-canvas .left .buttons span {
    display: none;
  }
}

.main-canvas .right {
  width: 40%;
}

@media (max-width: 900px) {
  .main-canvas .right {
    display: none;
  }
}

.main-canvas .right .profile-pic {
  width: 30%;
  margin: auto;
}

.main-canvas .right .profile-pic img {
  width: 100%;
  margin: auto;
  border-radius: 50%;
  margin-top: 200px;
  cursor: pointer;
}

.skills {
  height: 100vh;
}

.skills .skillset {
  width: 70%;
  margin: auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .skills .skillset {
    width: 90%;
    margin: auto;
    flex-direction: column;
    padding: 0;
  }
}

.skills .skillset .each-skill {
  cursor: pointer;
  transition: 1s;
  color: #fff;
  font-family: 'Comfortaa', cursive;
  width: 25%;
}

.skills .skillset .each-skill .skill-holder {
  padding: 20px 20px 0px 20px;
  border-radius: 15px;
  border: 1px solid #333;
  width: 100%;
  transition: 1s;
}

.skills .skillset .each-skill .skill-holder:hover {
  transform: scale(1.1);
  border: 1px solid #fff;
  box-shadow: 7px 0 7px #fff;
}

.skills .skillset .each-skill .skill-holder:hover img {
  transform: scale(1.2);
}

@media (max-width: 900px) {
  .skills .skillset .each-skill {
    width: 90%;
    margin: auto;
    margin-top: 15px;
  }
}

.skills .skillset .each-skill .top {
  display: flex;
  justify-content: space-between;
}

.skills .skillset .each-skill .top .title {
  display: flex;
}

.skills .skillset .each-skill .top .title .logo {
  width: 15%;
  padding: 0 10px;
}

.skills .skillset .each-skill .top .title .logo img {
  transition: 0.5s;
  width: 100%;
  border-radius: 50%;
}

.skills .skillset .each-skill .top .title .name {
  margin-top: 5px;
  font-size: 18px;
  white-space: nowrap;
}

.skills .skillset .each-skill .bottom {
  padding: 20px 0;
}

.skills .skillset .each-skill .bottom input[type='range'] {
  -webkit-appearance: none;
  background-color: #ddd;
  height: 5px;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}

.skills .skillset .each-skill .bottom input[type='range']:focus {
  outline: none;
}

.skills .skillset .each-skill .bottom input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 20px;
}

.skills .skillset .each-skill .bottom input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: red;
  border-radius: 50%;
  box-shadow: -210px 0 0 200px red;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 0;
}

.skills .skillset .each-skill .bottom input[type='range']::-moz-range-thumb {
  background: #333;
  border-radius: 50%;
  box-shadow: -1010px 0 0 1000px #666;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 0;
}

.skills .skillset .each-skill .bottom input[type="range"]::-moz-range-track {
  background-color: #ddd;
}

.skills .skillset .each-skill .bottom input[type="range"]::-moz-range-progress {
  background-color: #666;
  height: 20px;
}

.skills .skillset .each-skill .bottom input[type="range"]::-ms-fill-upper {
  background-color: #ddd;
}

.skills .skillset .each-skill .bottom input[type="range"]::-ms-fill-lower {
  background-color: #666;
}

.projects {
  height: 100vh;
}

.projects .each-project-row {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

@media (max-width: 900px) {
  .projects .each-project-row {
    flex-direction: column;
  }
}

.projects .each-project-row .each-project {
  width: 47.5%;
}

@media (max-width: 900px) {
  .projects .each-project-row .each-project {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
}

.projects .each-project-row .each-project .image {
  overflow: hidden;
  border-radius: 20px;
}

.projects .each-project-row .each-project .image img {
  width: 100%;
  transition: 1s;
  border-radius: 20px;
  cursor: pointer;
}

.projects .each-project-row .each-project .title {
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  color: #fff;
  width: 90%;
  margin: auto;
}

@media (max-width: 900px) {
  .projects .each-project-row .each-project .title {
    font-size: 15px;
  }
}

.projects .each-project-row .each-project .title p {
  text-align: right;
}

.projects .each-project-row .first {
  transition: 1s;
}

.projects .each-project-row .first:hover {
  transform: perspective(600px) rotateY(-5deg);
}

.projects .each-project-row .first:hover img {
  transform: scale(1.1);
}

.projects .each-project-row .second {
  transition: 1s;
}

.projects .each-project-row .second:hover {
  transform: perspective(600px) rotateY(5deg);
}

.projects .each-project-row .second:hover img {
  transform: scale(1.1);
}

.contact .container {
  width: 70%;
  margin: auto;
}

.contact .container .box {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .contact .container .box {
    flex-direction: column;
  }
}

.contact .container .box .head {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: #b19cf8;
}

@media (max-width: 900px) {
  .contact .container .box .head p {
    text-align: center;
    white-space: nowrap;
  }
}

.contact .container .box .left {
  width: 45%;
}

@media (max-width: 900px) {
  .contact .container .box .left {
    width: 90%;
    margin: auto;
  }
}

.contact .container .box .left .icons {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 15px;
}

@media (max-width: 900px) {
  .contact .container .box .left .icons {
    padding: 10px;
  }
}

.contact .container .box .left .icon-texts {
  padding: 35px 10px;
}

@media (max-width: 900px) {
  .contact .container .box .left .icon-texts {
    padding: 10px;
  }
}

.contact .container .box .left .icon-texts .each {
  display: flex;
  padding: 15px 0;
}

@media (max-width: 900px) {
  .contact .container .box .left .icon-texts .each {
    padding: 5px;
  }
}

.contact .container .box .left .icon-texts .each span {
  font-family: 'Comfortaa', cursive;
  padding: 15px;
  font-size: 18px;
  color: #b19cf8;
}

@media (max-width: 900px) {
  .contact .container .box .left .icon-texts .each span {
    padding: 15px;
  }
}

.contact .container .box .right {
  width: 45%;
}

@media (max-width: 900px) {
  .contact .container .box .right {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
}

.contact .container .box .right .msg-area {
  margin-top: 50px;
}

@media (max-width: 900px) {
  .contact .container .box .right .msg-area {
    margin-top: 10px;
  }
}

.contact .container .box .right .msg-area .inputs {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .contact .container .box .right .msg-area .inputs {
    flex-direction: column;
  }
}

.contact .container .box .right .msg-area .inputs input {
  font-family: 'Comfortaa', cursive;
  padding: 10px;
  border: 1px solid #000045;
  background-color: #000045;
  transition: 0.5s;
}

@media (max-width: 900px) {
  .contact .container .box .right .msg-area .inputs input {
    margin-top: 15px;
    width: 100%;
  }
}

.contact .container .box .right .msg-area .inputs input:focus {
  outline: none;
  color: #fff;
  background-color: #4f4fe4;
}

.contact .container .box .right .msg-area textarea {
  font-family: 'Comfortaa', cursive;
  width: 100%;
  margin-top: 20px;
  background-color: #000045;
  border: 1px solid #000045;
  height: 150px;
  padding: 20px;
  transition: 0.5s;
}

.contact .container .box .right .msg-area textarea:focus {
  outline: none;
  color: #fff;
  background-color: #4f4fe4;
}
