@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Josefin+Sans&display=swap');
html, body {
  // #000015
  background-image: linear-gradient(#000015,#000040);
  height: 200vh;
}
.nav {
  @media (max-width: 900px) {
    display: none;
  }
  padding: 50px 0;
  display: flex;
  font-family: 'Comfortaa', cursive;
  .space {
    width: 60%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 30%;
    .tab {
      padding: 15px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      transition: 0.5s;
      a {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
      }
    }
    .tab:hover {
      background-color: #333;
    }
  }
}

.mobile-nav {
  background-color: #07074d;
  padding: 20px 0;
  width: 100%;
  display: none;
  @media (max-width: 900px) {
    display: block;
  }
  .container {
    background-color: #07074d;
    p {
      width: 80%;
      margin: auto;
      text-align: center;
      color: #fff;
      font-size: 22px;
      font-family: 'Comfortaa', cursive;
      border-bottom: 1px solid #0d0d77;
      padding: 15px 0;
    }
  }
}

.header {
  font-size: 50px;
  color: #fff;
  @media (max-width: 900px) {
    font-size: 25px;
  }
  p {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
  }
}
.subheader {
  font-size: 25px;
  color: #fff;
  @media (max-width: 900px) {
    font-size: 15px;
  }
  p {
    font-family: 'Comfortaa', cursive;
    text-align: center;
  }
}

.lightbox {
  .bg {
    position: fixed;
    width: 100%;
    height: 200vh;
    opacity: 0.8;
    background-color: #000;
    // border: 1px solid red;
  }
  .palette {
    position: fixed;
    background-color: #000015;
    width: 80%;
    padding: 100px 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    .image {
      @media (max-width: 900px) {
        display: none;
      }
      width: 35%;
      img {
        width: 100%;
        border-radius: 15px;
      }
    }
    .texts {
      color: #fff;
      padding: 0 50px;
      width: 50%;
      @media (max-width: 900px) {
        width: 95%;
        margin: auto;
      }
      font-family: 'Comfortaa', cursive;
      .title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 35px;
        padding: 20px 0;
      }
      .description {
        padding: 20px 0;
      }
      .lower {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
          flex-direction: column;
        }
        .right {
          @media (max-width: 900px) {
            margin-top: 20px;
            display: flex;
          }
        }
        #view-source {
          margin-left: 30px;
        }
      }
    }
  }
}
.blue-btn {
  background-color: #000072;
  background: linear-gradient(to right, red 50%, #000072 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: #fff;
  padding: 20px 30px;
  font-size: 20px;
  border: 1px solid #000072;
  cursor: pointer;
  transition: 2s ease;
}
.blue-btn:hover {
  background-position: left bottom;
  color: #fff;
}

.about {
  .container {
    width: 75%;
    margin: auto;
    border-radius: 25px;
    transition: 1s;
    @media (max-width: 900px) {
      width: 85%;
    }
  }
  .about-header {
    color: #4f4fe4;
    font-size: 55px;
    width: 100%;
    @media (max-width: 900px) {
      margin-top: 50px;
      font-size: 25px;
    }
    p {
      text-align: center;
    }
  }
  .texts {
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    line-height: 1.5em;
    @media (max-width: 900px) {
      font-size: 18px;
    }
  }
  .btn {
    padding: 50px;
    text-align: right;
    @media (max-width: 900px) {
      text-align: center;
    }
  }
  .container:hover {
    // box-shadow: 20px 20px 20px 20px #000;
  }
}

    .main-canvas {
      height: 100vh;
      display: flex;
      @media (max-width: 900px) {
        flex-direction: column;
      }
      .left {
        width: 60%;
        @media (max-width: 900px) {
          width: 90%;
          margin: auto;
        }
        .texts {
          font-family: 'Comfortaa', cursive;
          width: 80%;
          color: #fff;
          margin: auto;
          margin-top: 150px;
          @media (max-width: 900px) {
            margin-top: 0px;
          }
          .small-texts {
            font-size: 25px;
            @media (max-width: 900px) {
              font-size: 15px;
            }
          }
          .big-texts {
            margin-top: 30px;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 60px;
            @media (max-width: 900px) {
              font-size: 30px;
            }
          }
          .profession {
            margin-top: 20px;
            font-size: 20px;
            @media (max-width: 900px) {
              font-size: 17px;
            }
          }
        }

        .buttons {
          display: flex;
          width: 80%;
          margin: auto;
          margin-top: 20px;
          @media (max-width: 900px) {
            flex-direction: column;
            #know-more {
              margin-top: 20px;
            }
          }
          span {
            font-family: 'Comfortaa', cursive;
            color: #fff;
            padding: 20px;
            font-size: 18px;
            @media (max-width: 900px) {
              display: none;
            }
          }
        }
      }
      .right {
        @media (max-width: 900px) {
          display: none;
        }
        width: 40%;
        .profile-pic {
          width: 30%;
          margin: auto;
          img {
            width: 100%;
            margin: auto;
            border-radius: 50%;
            margin-top: 200px;
            cursor: pointer;
          }
        }
      }
    }

    // Skills
    .skills {
      height: 100vh;

      .skillset {
        width: 70%;
        margin: auto;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
          width: 90%;
          margin: auto;
          flex-direction: column;
          padding: 0;
        }
        .each-skill {
          .skill-holder {
            padding: 20px 20px 0px 20px;
            border-radius: 15px;
            border: 1px solid #333;
            width: 100%;
            transition: 1s;
            @media (max-width: 900px) {
            }
          } 
          .skill-holder:hover {
            img {
              transform: scale(1.2);
            }
              transform: scale(1.1);
              border: 1px solid #fff;
              box-shadow: 7px 0 7px #fff;
          }
          cursor: pointer;
          transition: 1s;
          
          color: #fff;
          font-family: 'Comfortaa', cursive;
          width: 25%;
          @media (max-width: 900px) {
            width: 90%;
            margin: auto;
            margin-top: 15px;
          }
          .top {
            display: flex;
            justify-content: space-between;
            .title {
              display: flex;
              .logo {
                width: 15%;
                padding: 0 10px;
                img {
                  transition: 0.5s;
                  width: 100%;
                  border-radius: 50%;
                }
              }
              .name {
                margin-top: 5px;
                font-size: 18px;
                white-space: nowrap;
              }
            }
          }
          .bottom {
            padding: 20px 0;
            input[type='range'] {
              -webkit-appearance: none;
              background-color: #ddd;
              height: 5px;
              overflow: hidden;
              width: 100%;
              border-radius: 20px;
            }
            input[type='range']:focus {
              outline: none;
            }
            
            input[type='range']::-webkit-slider-runnable-track {
              -webkit-appearance: none;
              height: 20px;
            }
            
            input[type='range']::-webkit-slider-thumb {
              -webkit-appearance: none;
              background: red;
              border-radius: 50%;
              box-shadow: -210px 0 0 200px red;
              cursor: pointer;
              height: 20px;
              width: 20px;
              border: 0;
            }
            
            input[type='range']::-moz-range-thumb {
              background: #333;
              border-radius: 50%;
              box-shadow: -1010px 0 0 1000px #666;
              cursor: pointer;
              height: 20px;
              width: 20px;
              border: 0;
            }
            
            input[type="range"]::-moz-range-track {
              background-color: #ddd;
            }
            input[type="range"]::-moz-range-progress {
              background-color: #666;
              height: 20px
            }
            input[type="range"]::-ms-fill-upper {
              background-color: #ddd;
            }
            input[type="range"]::-ms-fill-lower {
              background-color: #666;
            }
          }
        }

      }
    }

    // Projects
    .projects {
      height: 100vh;
      .each-project-row {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        @media (max-width: 900px) {
          flex-direction: column;
        }
        .each-project {
          width: 47.5%;
          @media (max-width: 900px) {
            width: 90%;
            margin: auto;
            margin-top: 20px;
          }
          .image {
            overflow: hidden;
            border-radius: 20px;
            img {
              width: 100%;
              transition: 1s;
              border-radius: 20px;
              cursor: pointer;
            }
          }
          .title {
            font-family: 'Comfortaa', cursive;
            font-size: 25px;
            color: #fff;
            width: 90%;
            margin: auto;
            @media (max-width: 900px) {
             font-size: 15px;
            }
            p {
              text-align: right;
            }
          }
        }
        .first {
          transition: 1s;
        }
       .first:hover {
         transform: perspective(600px) rotateY(-5deg);
         img {
           transform: scale(1.1);
         }
       }
       .second {
        transition: 1s;
      }
     .second:hover {
       transform: perspective(600px) rotateY(5deg);
       img {
        transform: scale(1.1);
      }
     }
      }
    }
  
.contact {
    .container {
      width: 70%;
      margin: auto;
      .box {
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
          flex-direction: column;
        }
        .head {
          font-size: 20px;
          font-family: 'Josefin Sans', sans-serif;
          color: #b19cf8;
          @media (max-width: 900px) {
            p {
              text-align: center;
              white-space: nowrap;
            }
          }
        }
        .left {
          width: 45%;
          @media (max-width: 900px) {
            width: 90%;
            margin: auto;
          }
          .icons {
            display: flex;
            justify-content: space-evenly;
            padding: 25px 15px;
            @media (max-width: 900px) {
              padding: 10px;
            }
          }
          .icon-texts {
            padding: 35px 10px;
            @media (max-width: 900px) {
              padding: 10px;
            }
            .each {
              display: flex;
              padding: 15px 0;
              @media (max-width: 900px) {
                padding: 5px;
              }
              span {
                font-family: 'Comfortaa', cursive;
                padding: 15px;
                font-size: 18px;
                color: #b19cf8;
                @media (max-width: 900px) {
                  padding: 15px;
                }
              }
            }
          }
        }
        .right {
          width: 45%;
          @media (max-width: 900px) {
            width: 90%;
            margin: auto;
            margin-top: 30px;
          }
          .msg-area {
            margin-top: 50px;
            @media (max-width: 900px) {
              margin-top: 10px;
            }
            .inputs {
              display: flex;
              justify-content: space-between;
              @media (max-width: 900px) {
                flex-direction: column;
              }
              input {
                font-family: 'Comfortaa', cursive;
                padding: 10px;
                border: 1px solid #000045;
                background-color: #000045;
                transition: 0.5s;
                @media (max-width: 900px) {
                  margin-top: 15px;
                  width: 100%;
                }
              }
              input:focus {
                outline: none;
                color: #fff;
                background-color: #4f4fe4;
              }
            }
            textarea {
              font-family: 'Comfortaa', cursive;
              width: 100%;
              margin-top: 20px;
              background-color: #000045;
              border: 1px solid #000045;
              height: 150px;
              padding: 20px;
              transition: 0.5s;
            }
            textarea:focus {
              outline: none;
              color: #fff;
              background-color: #4f4fe4;
            }
          }
        }
      }
    }
}